@font-face {
  font-family: myFirstFont;
  src: url(Muskaters.ttf) format('truetype');
}

html {
  min-height: 100%;
}

/*body {
  background: url(back3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.tropbg {
  background: no-repeat center center fixed;
  position: absolute;
  z-index: -4;
  width: 100%;
  height: 100%;
  margin-top: -80px !important;
  margin-left: -10px !important;
  background-size: 100% 100%;
}

.thabpet {
  color: black;
  font-family: myFirstFont;
  font-size: 40px;
}

.form {
  background: rgba(0, 0, 0, 0.4);
  margin-top: 200px;
  margin-left: 40%;
  width: 300px;
  padding: 20px;
  position: fixed;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.18);
  -moz-box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.18);
  box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.18);
}
@media (max-width: 850px) {
  .form {
    margin-left: 30% !important;
  }
}
.login-err {
  width: 83%;
  margin: 0 10px 10px;
  color: white;
  display: block;
  float: left;
}
#SignUp, #SignIn {
  margin-bottom: 10px;
}
#SignUp {
  float: left;
}
#SignIn {
  margin-left: 90%;
}
#signInImg {
  -webkit-filter: contrast(140%);
  filter: contrast(140%);
}

#signInImg:hover {
  -webkit-filter: contrast(160%);
  filter: contrast(160%);
}

#signUpImg {
  opacity: 0.6;
}

#signUpImg:hover {
  opacity: 1;
}

#formSignUp {
  display: none;
  width: 400px !important;
}

.inp, .inp2 {
  display: block;
  width: 280px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  /*font: "Book Antiqua";*/
  font-size: 0.8em;
  color: white;
  background: rgba(225, 225, 225, 0.1);
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.inp2 {
  width: 380px !important;
}

.inp:focus, .inp2:focus {
  background: #fff;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #777;
}

.inp::placeholder, .inp2::placeholder {
  color: white;
}

#fname, #lname {
  width: 170px !important;
  float: left;
}
#lname {
  margin-left: 20px;
}
#err-msg-fname, #err-msg-lname {
  float: left;
  width: 190px !important;
}
span {
  font: 0.9em Arial;
}

.err-msg {
  color: white;
  position: relative;
  width: 100%;
}

.submit {
  display: none;
}

@-webkit-keyframes popin {
  from {
    transform: scale(1,1);
    opacity: 1;
  }
  to {
    transform: scale(0,0);
    opacity: 0;
  }
}

@keyframes popin {
  from {
    transform: scale(1,1);
    opacity: 1;
  }
  to {
    transform: scale(0,0);
    opacity: 0;
  }
}

@-webkit-keyframes popout {
  from {
    transform: scale(0,0);
    opacity: 0;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}

@keyframes popout {
  from {
    transform: scale(0,0);
    opacity: 0;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}
