<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="slogin.css">
  <link rel="icon" type="image/x-icon" href="tp logo small.jpg">
</head>

<body ng-app="myApp" >
<div class="back2"></div>
  <div class="thabpet">
    Thabpet
  </div>
  <div class="centered neg-margin-top">
    <img class="dp bs" src="me.jpg" alt="" style="width: 150px; height: 150px; top: 5px; left: 50px;">
  </div>
  <form class="form centered margin-top" id="login" ng-submit="submit3()" name="login" novalidate>
    <input class="inp" id="pin1" type="password" maxlength="1" onkeyup="autoTab(this)" name="pin1" ng-model="pin1" numbers-only required>
    <input class="inp" id="pin2" type="password" maxlength="1" onkeyup="autoTab(this)" name="pin2" ng-model="pin2" numbers-only required>
    <input class="inp" id="pin3" type="password" maxlength="1" onkeyup="autoTab(this)" name="pin3" ng-model="pin3" numbers-only required>
    <input class="inp" id="pin4" type="password" maxlength="1" onkeyup="autoTab(this)" name="pin4" ng-model="pin4" numbers-only required>
    <input class="submit" id="submit" type="submit" name="submit" >
  </form>
</body>
<script src="pin.js"></script>
<script src="animate.js"></script>

</html>
